@value makerLightGrey from '../../common/colors.css';
.editor {
  flex-basis: 50%;
  text-align: center;
  border-right: 1px solid makerLightGrey;
  padding: 0 4em;
  overflow-y: auto;
}

.editor::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

.editor::-webkit-scrollbar-thumb {
  background-color: makerLightGrey;
  border-radius: 4rem;
}

.editor:hover::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);
}

.title {
  margin: 2em;
}
