@value makerShadow, makerColorful, makerWhite, makerBlack, makerGrey, makerBlackGradient from '../../common/colors.css';

.card {
  display: flex;
  width: 418.6px;
  height: 265.2px;
  margin: auto;
  border-radius: 0.7em;
  box-shadow: makerShadow;
  margin-bottom: 2em;
  padding: 2em;
}

.card.light {
  background-color: makerWhite;
}

.card.dark {
  background: makerBlackGradient;
  color: makerWhite;
}

.card.colorful {
  background: makerColorful;
  color: makerWhite;
}

.avatar {
  width: 8em;
  height: 8em;
  margin: auto 0;
  border-radius: 50%;
}

.info {
  text-align: left;
  margin-left: 2em;
  width: 100%;
  text-indent: 0.2rem;
  padding: 1em 0;
}

.name {
  font-size: 1.5rem;
  margin: 0;
}

.company {
  border-bottom: 1px solid makerGrey;
  padding-bottom: 0.5em;
  width: 100%;
}

.company,
.title,
.email,
.message {
  font-size: 0.9rem;
  margin: 0.8em 0;
}

svg {
  margin-right: 0.5rem;
}
