@value makerLightGrey, makerWhite, makerLightPink, makerLightMain from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input {
  display: none;
}

.button {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  height: 100%;
}

.button:hover {
  opacity: 0.8;
}

.button.img {
  background-color: makerLightMain;
  color: makerWhite;
}

.button.noimg {
  background-color: makerLightGrey;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid makerLightGrey;
  border-top: 2px solid makerLightMain;
  animation: spin 1000ms infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
