@value makerMain, makerLightMain, makerWhite, makerShadow from '../../common/colors.css';

.login {
  width: 30em;
  background-color: makerWhite;
  box-shadow: makerShadow;
}

.title {
  text-align: center;
  color: makerMain;
  margin: 0.5em;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.item {
  width: 100%;
  padding: 0.4em 4em;
}

.button {
  outline: 0;
  width: 100%;
  padding: 0.8em 0;
  font-size: 1rem;
  border: none;
  border-radius: 1em;
  color: makerWhite;
  cursor: pointer;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.button:hover {
  opacity: 0.8;
}

.google {
  background-color: #da3d29;
}

.github {
  background-color: #000;
}

.facebook {
  background-color: #395693;
}

svg {
  margin-right: 0.5em;
  transform: scale(1.3);
}
